/*--------------------HEADER--------------------*/

.header a {
    transform: scale(1);
    transition: transform 0.3s ease;
}
.header a:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease;
}

/*---------------------BODY---------------------*/

.corps3 a {
    transform: translateY(0);
    transition: transform 0.3s ease;
}
.corps3 a:hover {
    transform: translateY(-10px);
    transition: transform 0.3s ease;
}

.container {
    transform: translateY(0);
    transition: transform 0.3s ease;
}
.container:hover {
    transform: translateY(-10px);
    transition: transform 0.3s ease;
}

.corps-stats p{
    transform: translateY(0);
    transition: transform 0.3s ease;
}
.corps-stats p:hover {
    transform: translateY(-10px);
    transition: transform 0.3s ease;
}

/*--------------------FOOTER--------------------*/

footer .right img:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease;
}
footer .right img {
    transform: scale(1);
    transition: transform 0.3s ease;
}