a {
    color: #54aee2
}

.header a.active {
    text-shadow: 0px 0px 15px rgba(84, 174, 226, 1);
    
    font-weight: bolder;
    font-size: 90%;
    transform: translateY(-2px);
}

.header {
    display: flex;
    justify-content: flex-end;
    position: sticky;
    z-index: 100;
    top: 0px;
    gap: 20px;

    margin: 0;
    padding: 20px;
    padding-right: 40px;
    background-color: #061822;
    word-spacing: 40px;
    font-size: 150%;
    a {
        word-spacing: 0;
        text-decoration: none;
        color: #fff;
    }
}

body {
    font-family: Arial, sans-serif;
    background: #f4f4f4;
}

.title {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    font-size: 300%;
}

.corps1 {
    background: #fff;
    margin: 2% 15%;
    p {
        font-size: 150%;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        padding: 20px;
    }
}

.corps2 {
    margin: 2% 15%;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .contenu {
        font-weight: bold;
        font-size: 150%;
        padding: 10px;
    }
}

.corps3 {
    margin: 2% 15%;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;

    a {
        padding: 20px;
        font-size: 150%;
        background: #fff;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        text-align: center;
        color: #000;
    }
    img {
        width: 100%;
    }
}

.corps-stats {
    margin: 2% 25%;
    display: flex;
    justify-content: center;
    gap: 10%;
    align-items: center;

    p {
        font-size: 150%;
        background: #fff;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        padding: 20px;
        font-weight: bold;
    }
}

#Yviews, #Ysubscribers, #Yvideos {
    color: #df0000;
  }

#Tfollowers, #Tsubscribers, #Tstatut {
color: #5f00bf;
}

#Dmembers, #Dservers, #Dboosts {
    color: #0000ff;
    }

.container {
    width: 80%;
    max-width: 800px;
    background: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    flex-direction: column;
    flex-flow: wrap;
    margin-bottom: 20px;
    img {
        width: 512px;
        height: 100%;
    }
}

.image-text-block {
    display: flex;
    align-items: flex-start;
}

.image {
    max-width: 150px;
    margin-right: 20px;
}

.text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.text-right-top {
    margin: 10px 0;
    margin-top: 5%;
}

.text-right-bottom {
    margin: 5px 0;
    margin-bottom: 5%;
}

footer {
    margin-top: auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background: #fff;
    margin: 0;
    padding: 40px;
    display: flex;
    text-align: center;

    .left {
        width: 25%;
        justify-content: left;
        margin-left: 10%;
        font-weight: bold;

        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .center {
        width: 50%;
        justify-content: center;
        margin: auto;
        img {
            width: 20%;
        }
    }

    .right {
        width: 25%;
        justify-content: right;
        margin-right: 10%;

        display: flex;
        align-items: center;
        justify-content: center;

        img {
            width: 75%;
        }
    }
}